/* Nav-Bar CSS*/
ul.nav-list{
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size:30px;
    color: black;
    text-align: center;
    margin: 0px;
}



li.nav-category{
    width: 200px;
    height: 62px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right:20px;


}
li.nav-category:hover{
    background-color: aliceblue;
}

a.anchorCat{
    text-decoration: none;
    color: inherit;
}
a.anchorCat:hover {
    text-decoration: underline; /* Have underline on hover */
  }

  /*photoGallerySenior*/

    /*Photo Section*/
section.photoBlocks{
    width: 80%;
    height: fit-content;
    background-color:antiquewhite;

}

h1.photoBlockHeadersText{
    color: black;
    font-style: italic;
}

h1.photoBlockHeadersText:hover{
    color: antiquewhite;
    font-style: italic;
    background-color: black;
    border-radius: 15px;
    padding: 5px;
}

ul.photoGallery{
    display:flex;
    justify-content: space-around;
    list-style: none;
}

li.individualBlock{
    width: 15%;
    height: 400px;
    position:relative;
}
img.individualPhoto{
    display: block; /* remove any inline layout padding/margin */
    width: 100%; /* scale the image to the width of the list item */
    height: auto; /* maintain the aspect ratio of the image */
    object-fit: cover; /* fill the list item while maintaining aspect ratio */
    position: absolute; /* position the image within the list item */
    top: 0; /* position the image at the top of the list item */
    left: 0; /* position the image at the left of the list item */
    
}
p.photoDescription{
    font-style: italic;
}