


ul.nav-list{
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size:30px;
    color: black;
    text-align: center;
}



li.nav-category{
    width: 200px;
    height: 62px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;


}
li.nav-category:hover{
    background-color: aliceblue;
}

a.anchorCat{
    text-decoration: none;
    color: inherit;
}
a.anchorCat:hover {
    text-decoration: none; /* Remove underline on hover */
  }